<!-- NAVIGATION -->
<nav class="navbar navbar-default" style="position: fixed; min-width: 550px; height: 75px; top: 0%; width: 100%; z-index: 999000">
    
      <div class="col-xs-12 col-sm-4 pull-left hidden-xs">
        <a class="navbar-brand">
        	<img style='height: 50px; width: auto' src='media/images/AngularJS-Shield-large.png'> Angular Crash Course
        	<!--
			<button class="btn flat-success" ng-click="changeLayout('full')">Full</button>		     
			<button class="btn flat-info" ng-click="changeLayout('shrink')">Shrink</button>
			-->		        	    	
        </a>	       
      </div>	
      <div class="col-xs-12 col-sm-8 pull-right" style='text-align: right'>  
      		<br>
	        <a ng-repeat='link in links' class="btn" ui-sref="{{link.href}}"  ng-cloak>{{link.title}}</a>
      </div>
  
</nav>	