<div id='content'  ng-controller="homeController" class="hidden" ng-init='init()'>
	
	
	<h1>Why Use A<code>ng</code>ularJS</h1>
	<br><br>
	
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" ng-init="focusOn = 'intro'">
  	 <li role="presentation" class="active"	><a ng-click='focusOn = "intro"' 	role="tab" data-toggle="tab">Introduction</a></li>
    <li role="presentation" 				><a ng-click='focusOn = "sb"' 	role="tab" data-toggle="tab">Simple Binding</a></li>
    <li role="presentation" 				><a ng-click='focusOn = "db"' 	role="tab" data-toggle="tab">Two-Way Binding</a></li>
    <li role="presentation"					><a ng-click='focusOn = "list"'  	role="tab" data-toggle="tab">Lists</a></li>
    <li role="presentation"					><a ng-click='focusOn = "table"'  	role="tab" data-toggle="tab">Filters</a></li>
  </ul>	
	
	<br><br>
	<div class='row' ng-if='focusOn == "intro"'>
		<div class='col-xs-12 pull-left'>
			<h3>It's A Time Saver</h3>		
			<p>
			Using Angular can save you a ton of time.  For as awesome as jQuery is, having to depend on
			event binders, append/prepends, and traversing the DOM to manipulate your page can be quite a 
			headache.  Using Angular you can eliminate quite a bit of code.
			<br><br>
			<h3>There's a Ton of Plugins</h3>	
			There's also an extensive library of modules you can use to extend the functionality of your
			web app that range from anywhere from <a href='http://ngmodules.org/modules/adaptive-googlemaps'>google maps</a>, 
			to <a href='http://ngmodules.org/modules/adaptive-motion'>web cam control</a>, to <a href='http://ngmodules.org/modules/adaptive-speech'>speech integration</a>, 
			to <a href='http://ngmodules.org/modules/adaptive-youtube'>youtube videos</a>.  And that's just a small sample.  
			You can find pretty much anything you could possibly need <a href='http://ngmodules.org/'>here.</a>  
			<br><br>
			<h3>It's The Easiest to Learn</h3>  
			There are several other frameworks that can do what Angular does (EmberJS, Handlebars, Backbone, etc), but Angular 
			(in my opinion) is probably the easily to learn, in part due to the large community of developers and supporters.  
			99% of every question I have ever had somebody else has already asked and a large majority of them have been
			answered by just a simple Google search.  
			<br><br>		
			<h3>Download the Source Code</h3>
			If you've never used Angular and need a quick template to start with, download this sites source code.  
			It can be <a href='https://github.com/allenRoyston/angularCrashCourse'>downloaded</a> here.  
			Feel free to take it apart, tinker with it, or reshape it into your own personal website.  
			</p>
			<hr>	

		</div>
	</div>	
	
	<div class='row' ng-if='focusOn == "sb"'>
		<div class='col-xs-12 pull-left'>
			<h3>Example 1:  Simple Binding</h3>		
			<hr>
		</div>
		

		<div class='col-xs-12  col-sm-6 pull-left'>
			<h4>jQuery <span class='pull-right'><a ng-click='snippetChange("html")'>HTML</a>&nbsp; <a ng-click='snippetChange("js")'>JS</a>			</span></h4>
			<hr>
			<pre>{{exampleSnippet0_JQ}}</pre>
			
		</div>
		
		<div class='col-xs-12 col-sm-6  pull-left'>
			<h4>AngularJS <span class='pull-right'><a ng-click='snippetChange("html")'>HTML</a>&nbsp; <a ng-click='snippetChange("js")'>JS</a>			</span></h4>
			<hr>			
			<pre>{{exampleSnippet0_ANG}}</pre>
			
		</div>	

		
		<div class='col-xs-12 col-sm-12 pull-left'>
			<br>&nbsp;<br>
			<h4>Results</h4>			
			<hr>
			<pre>
Results:  

// in an element
<p>{{varibleId}}</p>

// in an input
<input ng-model="varibleId">


// textarea
<textarea ng-model='varibleId'></textarea>

			</pre>
			<hr>
		</div>	
						
	
			
	</div>

	<div class='row' ng-if='focusOn == "db"'>
		
		
		<div class='col-xs-12 pull-left'>
			<h3>Example 2:  Two-Way Binding</h3>
			<hr>		
		</div>
		

		<div class='col-xs-12  col-sm-6 pull-left'>
			<h4>jQuery <span class='pull-right'><a ng-click='snippetChange("html")'>HTML</a>&nbsp; <a ng-click='snippetChange("js")'>JS</a>			</span></h4>
			<hr>
			<pre>
{{exampleSnippet_JQ}}
			</pre>
			
		</div>
		
		<div class='col-xs-12 col-sm-6  pull-left'>
			<h4>AngularJS <span class='pull-right'><a ng-click='snippetChange("html")'>HTML</a>&nbsp; <a ng-click='snippetChange("js")'>JS</a>			</span></h4>
			<hr>
			
			<pre>
{{exampleSnippet_ANG}}
			</pre>
			
		</div>	

		
		<div class='col-xs-12 col-sm-12 pull-left'>
			<br>&nbsp;<br>
			<h4>Results</h4>			
			Type something: &nbsp;<input ng-model='twoWayDB'>
			<hr>
			<pre>
{{twoWayDB}}
			</pre>
			<hr>
		</div>	
			
	</div>
	
	
	
	
	<div class='row' ng-if='focusOn == "list"' ng-init="">
		
		
		<div class='col-xs-12 pull-left'>
			<h3>Example 3:  Lists</h3>
			<hr>		
		</div>
		

		<div class='col-xs-12  col-sm-6 pull-left'>
			<h4>jQuery <span class='pull-right'><a ng-click='snippetChange("html")'>HTML</a>&nbsp; <a ng-click='snippetChange("js")'>JS</a>			</span></h4>
			<hr>
			<pre>
{{exampleSnippet2_JQ}}
			</pre>
			
		</div>
		
		<div class='col-xs-12 col-sm-6  pull-left'>
			<h4>AngularJS <span class='pull-right'><a ng-click='snippetChange("html")'>HTML</a>&nbsp; <a ng-click='snippetChange("js")'>JS</a>			</span></h4>
			<hr>
			
			<pre>
{{exampleSnippet2_ANG}}
			</pre>
			
		</div>	

		
		<div class='col-xs-12 col-sm-12 pull-left'>
			<br>&nbsp;<br>
			<h4>Results</h4>			
				<input type='text' ng-model='newName' placeholder='Name'>
				<input type='number' ng-model='newPower' placeholder="Power Level">
				<button ng-click='dataSet.push({name: newName, powerLevel: newPower})'>Add to List</button>				
			
			<hr>
				<ul>
					<li ng-repeat='data in dataSet'><button ng-click='dataSet.splice($index, 1)'>Remove</button>&nbsp;&nbsp;Name: {{data.name}} | Power Level: {{data.powerLevel}}</li>
				</ul>
			<hr>
		</div>	
		
		
	</div>	
	

	<div class='row' ng-if='focusOn == "table"' ng-init="">
		
		
		<div class='col-xs-12 pull-left'>
			<h3>Example 4:  Filters</h3>
			<hr>		
		</div>
		

		<div class='col-xs-12  col-sm-6 pull-left'>
			<h4>jQuery <span class='pull-right'><a ng-click='snippetChange("html")'>HTML</a>&nbsp; <a ng-click='snippetChange("js")'>JS</a>			</span></h4>
			<hr>
			<pre>
{{exampleSnippet3_JQ}}
			</pre>
			
		</div>
		
		<div class='col-xs-12 col-sm-6  pull-left'>
			<h4>AngularJS <span class='pull-right'><a ng-click='snippetChange("html")'>HTML</a>&nbsp; <a ng-click='snippetChange("js")'>JS</a>			</span></h4>
			<hr>			
			<pre>
{{exampleSnippet3_ANG}}
			</pre>
			
		</div>	

		
		<div class='col-xs-12 col-sm-12 pull-left'>
			<br>&nbsp;<br>
			<h4>Results</h4>			

			<hr>
			Filter: <input ng-model="searchText"><br><br>
			<table class='table table-hover '>
				<tbody class='table-striped'>
					<th>Name</th>
					<th>Gender</th>
					<th>Born</th>
				  <tr ng-repeat="entry in listOfNames | filter: searchText">				  	
				    <td>{{ entry.name }}</td>
				    <td>{{ entry.gender }}</td>
				    <td>{{ entry.born }}</td>
				  </tr>
			  	</tbody>
			</table>
			<hr>
		</div>	
		
		
	</div>	
	
	
	
	

	
</div>
<br>


